.c-header
  display flex
  justify-content space-between
  align-items center
  background-color $WB_DARK_GREY_2

  &__nav-tabs
    padding 0
    margin 0
    list-style none
    display inline-block

  &__avatar
    display flex
    align-items center
    justify-content center
    width 48px