.c-list-item
  display flex
  cursor pointer
  background-color $WB_LIGHT_GREY_2
  padding 1rem

  &:hover,
  &--is-selected
    background-color $WB_LIGHT_GREY_1

  &--lacks-title
    color $WB_DARK_GREY_1
