.c-list-with-new-button
  display flex
  flex-direction column

  &__list
    display flex
    flex-direction column

  &__button
    border 0
    cursor pointer
    padding 1rem
    background-color $WB_DARK_GREY_1

    &:hover
      background-color $WB_LIGHT_GREY_1

  &__heading
    background-color $WB_DARK_GREY_2
    padding 1rem
    color $WB_LIGHT_GREY_1