.c-nav-tab
  cursor pointer
  box-sizing border-box
  padding 0
  margin 0
  line-height 1

  &:hover,
  &.is-active
    a
      color $WB_LIGHT_GREY_2

  a
    display inline-block
    text-decoration none
    color $WB_LIGHT_GREY_1
    padding 1rem