<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main | sternm</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <link rel="stylesheet" href="/css/main.css">
  <!-- todo: GA -->
  <script>
    window.__STATE__ = JSON.parse(`{{{json __STATE__}}}`);
  </script>
</head>
<body class="sternm">

<div id="mount"></div> <!-- todo: server-side HTML rendering -->

<script src="/vendor/node_modules.js"></script>
<script src="/vendor/react.development.js"></script>
<script src="/vendor/react-dom.development.js"></script>
<script src="/js/main.bundle.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
</body>
</html>